---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body
		class="bg-global-bg text-global-text mx-auto flex min-h-screen max-w-4xl flex-col px-4 pt-16 font-sans text-base font-semibold antialiased sm:px-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main" class="-mt-10">
			<slot />
		</main>
		<Footer />
		<!-- Scroll to top button -->
		<button
			id="to-top-btn"
			class="hover:border-link fixed end-4 bottom-8 z-90 flex h-10 w-10 translate-y-28 cursor-pointer items-center justify-center rounded-full border-2 border-transparent bg-zinc-200 text-3xl opacity-0 transition-all transition-discrete duration-300 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12 dark:bg-zinc-700"
			data-show="false"
		>
			<span class="sr-only">Back to top</span>
			<svg
				aria-hidden="true"
				class="h-6 w-6"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				viewBox="0 0 24 24"
			>
				<path d="M4.5 15.75l7.5-7.5 7.5 7.5" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</button>

		<script is:raw>
			const scrollBtn = document.getElementById("to-top-btn");

			// Show button after scrolling down 200px
			window.addEventListener("scroll", () => {
				scrollBtn.dataset.show = (window.scrollY > 200).toString();
			});

			scrollBtn.addEventListener("click", () => {
				window.scrollTo({ top: 0, behavior: "smooth" });
			});
		</script>
	</body>
</html>
